#tinylogo{
    position: absolute;
    top: 25px;
    left:38px;
}
nav{
    text-align: center;
    position: fixed;
    width: 99.6%;
}

#centering{
    display: flex;
    justify-content: center;
}


#title{
    font-family: "playlist script";
    font-size: 40px;
    float: left;
}
.right{
    float: right;
    margin-top: 10px;
}
.navbar li{
    display: inline;
    padding: 30px;
}

.navbar a{
    display:inline;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
}

.right:hover{
    background: rgba(251,211,2, .3);
    color: black;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.container:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
    font-family: "roboto";
    background-color: #E93575;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.text2 {
  color: white;
    font-family: "roboto";
    background-color: #F49470;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

#fontdiff{
    font-size: 13px;
}

.text3 {
  color: black;
    font-family: "roboto";
    background-color: #FFF56B;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}


#logo{
    position: absolute;
    left: 700px;
    top: 120px;
    transform: rotateY(0deg);
    animation: two 6s infinite;
    animation-direction: alternate;
}

@keyframes two {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
#personal{
    position: fixed;
    top: 85px;    
    left: 148px;
}
#personal:hover{
    
    color: black;
    
}

#tutoring{
    position: fixed;
    top: 85px;  
    left: 940px;
}

#photos{
    position: fixed;
    top: 85px;
    left: 330px;
}
#graphic{
    position: fixed;
    top: 245px;    
    left: 240px;
}

#designer {
    position: fixed;
     top: 245px; 
    left: 850px;
}
#tandon2{
    position: fixed;
    top: 245px;    
    left: 860px;
}
#music{
    position: fixed;
    top: 405px;
    left: 150px;
}
#townhall{
    position: fixed;
    top: 85px;
    left: 763px;
}


#irhc{
    position: fixed;
    top: 400px;
    left: 330px;
}
#video{
    position: fixed;
    top: 405px;
    left: 763px;
}
#flurry{
    position: fixed;
    top: 405px;
    left: 940px;
}
#tandon{
    position: fixed;
    top: 245px;
    left: 1050px;
}
#ohana{
    position: fixed;
    top: 245px;
    left: 46px;
}

#me{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
#aboutme{
    font-family: "roboto";
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: "roboto";
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: "roboto";
    background-color: #EB4974;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: deeppink;
}

/* Add a background color and some padding around the form */
.form {
    font-family: "roboto";
    display: flex;
    justify-content: center;
    width: 50%;
    background-image: url(background-03.png);
    border: solid;
    border-color: #EB4974;
    border-radius: 5px;
    padding: 20px;
}
#formborder{
    display: flex;
    justify-content: center;
    padding-top: 150px;

}
h1{
    position: absolute;
    top: 90px;
    left: 540px;
    color: black;
    font-family: "playlist script"
}

#emailadd{
    position: absolute;
    top: 155px;
    left: 470px;
    color: black;
    font-family: "montserrat";
}

.gallery{
    display: flex;
    justify-content: center;
}
#photography{
    padding-left: 4450px;
    padding-top: 175px;
}
#PB{
    padding-left: 1680px;
    padding-top: 175px;
}

#TPhotos{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 165px;
    left: 82px;
}
.TPB{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 80px;
    left: 90px;
}
.TPB2{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 185px;
    left: 150px;
}
#TVideo{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 50px;
    left: 135px;
}
#TVideo2{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 155px;
    left: 260px;
}
#Ohana{
    padding-left: 1000px;
    padding-top: 175px;
}
#musicposters{
    padding-left: 1000px;
    padding-top: 175px;
}
#flurryposters{
    padding-left: 700px;
    padding-top: 175px;
}
#video2{
    padding-left: 400px;
    padding-top: 175px;
}
#allugames{
     padding-left: 950px;
    padding-top: 175px;
}
#tutoring2{
    padding-left: 1500px;
    padding-top: 175px;
}

#Tutor2{
    position: absolute;
    font-family: "playlist script";
    color: black;
    text-shadow: 2px 2px white;
    font-size: 100px;
    top: 185px;
    left: 280px;
}
#irhcbrand{
    padding-left: 2000px;
    padding-top: 175px;
}
.PhotoDescrip{
    position: absolute;
    font-family: "montserrat";
    font-size: 14px;
    color:  #EB4974;
    text-shadow: 0px 0.5px white;
    top: 420px;
    left: 80px;
    right: 800px;
}
#TPhotoDescrip{
    position: absolute;
    font-family: "montserrat";
    font-size: 14px;
    color:  #EB4974;
    text-shadow: 0px 0.5px white;
    top: 420px;
    left: 80px;
    right: 700px;
}
#townhall2{
    padding-top: 150px;
    padding-left: 50px;
}
