h1{
   font-family: "montserrat"; 
    font-weight: 500;
    color: darkblue;
}

h2{
    font-family: "montserrat";
    font-weight: 300;
}

#song-playing{
    font-weight: 400;
    color: darkblue;
}

button {
  background-color:darkblue;
  color:white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  height: 40px;
  width: 40px;
  border: none;  
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: white;
  color: darkblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}